.author111 {
	.branding {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;

		h1 {
			text-transform: uppercase;
		}

		img {
			width: 200px;
			height: 200px;
			border-radius: 100px;
		}
	}

	.bio {
		max-width: 600px;
		margin: 0 auto;

		.bio-inner {
			display: flex;
			justify-content: center;
			background-color: #eeeeee;
			flex-direction: column;
			gap: 30px;
			border-radius: 10px;
			padding: 10px 15px;
			color: #305b90;
			margin-block: 30px;

			.social {
				margin-bottom: 15px;
			}
		}
	}
}
