.resume-category {
	background-color: transparent;

	.resume-category-heading {
		padding-block: 0 16px;
		margin-block: 0 32px;
		font-size: 20px;
		font-weight: 600;
		border-bottom: 1px solid #e3e3e3;

		svg {
			margin-right: 10px;
		}
	}
}
