.content {
	grid-column: span 2;
	position: relative;
	padding-block: 24px;
	margin-block: 16px;
	margin-inline-start: 80px;
	border-radius: 4px;
	background-color: #fff;
	color: #434343;
	overflow: auto;

	@media (min-width: 1200px) {
		grid-column: unset;
		margin-inline-start: unset;
		border-radius: 0 4px 4px 0;
	}
}

.content-wrap {
	height: 100%;
	padding-inline: 24px;
	overflow: auto;
}
