.navigation {
	padding-block: 20px;
}

.navigation ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.navigation ul li {
	color: #fff;
}

.navigation ul li a {
	color: #fff;
	text-decoration: none;
}

.navigation ul li a.active {
	text-decoration: underline;
}

.navigation ul li a:hover {
	text-decoration: underline;
}

.branding {
	text-align: center;
}

.branding h1 {
	text-transform: uppercase;
}

.branding img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.bio {
	max-width: 600px;
	margin: 0 auto;
}

.bio-inner {
	display: flex;
	justify-content: center;
	background-color: #eeeeee;
	border-radius: 10px;
	padding: 10px 15px;
	color: #305b90;
	margin-block: 30px;
}

.social ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	list-style-type: none;
}

.page-header {
	text-transform: uppercase;
}

/** Home **/
.home {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
