.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.App-header h1 {
  color: #ffffff;
  text-transform: uppercase;
}

.App-header p {
  color: #ffffff;
}

.App-header img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.App-bio {
  background-color: #eeeeee;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px 15px;
  color: #305B90;
}
