@import-normalize;

body {
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(135deg, #305b90 0%, #305b90 30%, #529bf5 100%)
		fixed;
	color: #ffffff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
